.view-wrapper {
  overflow-x: hidden;
}

.slide-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.slide-item.ng-enter,
.slide-item.ng-leave {
  -webkit-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
}

.slide-item.ng-enter {  
  left: 100%;
}

.slide-item.ng-enter.ng-enter-active,
.slide-item.ng-leave {
  left: 0;
}

.slide-item.ng-leave.ng-leave-active {
  left: -100%;
}

body {
  padding: 20px;
}